* {
    margin: 0px;
    padding: 0px;
}
nav {
    width: 90%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 20px 5%;
    background-color: #080a09f7;
}

nav .heading {
    font-size: 60px;
    font-weight: 900;
    color: white;
}
.heading a{
    font-weight: 1000;
    font-size: 50px;
    color: rgb(244, 242, 244);
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    padding: 8px 15px;
    border-radius: 10px;
    transition: 0.2s ease-in;
}

nav ul li a {
    color: rgb(245, 238, 238);
    font-size: 40px;
    font-weight: 500;
    text-decoration: none;
        color: white;
}

nav ul li:hover {
    background-color: rgb(247, 246, 247);
}

nav ul li a:hover {
    color: black;
}

nav .sideMenuButton {
    font-size: 30px;
    font-weight: bolder;
    cursor: pointer;
    display: none;
}

/* responsive css */
@media screen and (max-width: 600px) {
nav .sideMenuButton {
    display: flex;
}

nav .navbar {
    display: none;
}

.sideNavigationBar {
    display: block !important;
}
}
.parallax-1 {
    width: 100%;
    height: 600px;
    background:url(
         'gym2.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
}
.parallax-1 h2 {
    margin: auto;
    position: relative;
    left: 500x;
    top: 300px;
    width: 250px;
    height: 32px;
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
}
.parallax-2 {
    width: 100%;
    height: 600px;
    background: url(
         'gym.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
}
.parallax-2 h2 {
    margin: auto;
    position: relative;
    left: 500x;
    top: 300px;
    width: 250px;
    height: 37px;
    padding: 10px;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 30px;
    font-family: Verdana;
}
.para-1 {
    padding: 50px;
    background-color: rgb(8, 6, 6);
    color: white;
    font-size: 17px;
}
.para-2 {
    text-align: center;
    padding: 25px;
    font-size: 17px;
    font-family: Verdana;
    background-color: black;
    color: rgb(249, 244, 244);
}
.para-1:hover{
    color: black;
    background-color: white;
}
.para-2:hover{
    color: black;
    background-color: white;
}
.parallax-1:hover{
    color: black;
    background-color: white;
}
.parallax-1:hover h2{
    color: black;
    background-color: white;
}
.parallax-2:hover{
    color: black;
    background-color: white;
}
.parallax-2:hover h2{
    color: white;
    background-color: black;
}
